<div class="container">
  <h1>Films to Watch</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list), class: "list-item" %></li>
    <% end %>
  </ul>

  <button><%= link_to "New List", new_list_path, class: "button-text" %></button>
</div>
