<h2><%= @list.name %></h2>
<p><%= link_to "Create a new list", new_list_path %></p>
<p><%= link_to "Create a new bookmark", new_list_bookmark_path(@list) %></p>
<p><%= link_to "Return to lists", root_path %></p>
